on:
  push:
    branches: main

  schedule:
    - cron: '0 14 * * 2'
    - cron: '0 14 * * 3'
    - cron: '0 18 * * 3'
    - cron: '0 14 * * 4'
    - cron: '0 17 * * 4'
    - cron: '0 10 * * 5'
    - cron: '0 12 * * 5'
    - cron: '0 20 * * 5'
    - cron: '0 10 * * 6'
    - cron: '0 20 * * 6'
    - cron: '0 10 * * 0'
    - cron: '45 8 * * 3'
    - cron: '10 16 * * 4'
    - cron: '0 10 * * 1'

jobs:
  import-data:
    runs-on: ubuntu-latest
    steps:
      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Install packages
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: |
            any::rvest
            any::dplyr
            any::tidyr
            any::tidyverse
            any::stringr
            any::gt
            any::readr
            any::gtExtras
            any::lubridate
            any::webshot2
            any::png
            any::jsonlite
            any::httr
            any::janitor
            any::openxlsx
            any::nflfastR
            any::nflreadr
            any::gsheet

      - name: Check out repository
        uses: actions/checkout@v3

      - name: Import data
        run: Rscript -e 'source("nfl_values.R")'

      - name: Commit results
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add NFL_Game_Values.png.png
          git commit -m 'Data updated' || echo "No changes to commit"
          git push origin || echo "No changes to commit"
